    <head>
  <title>Laboratorio1</title>     
       
  <center><h1>
    LABORATORIO N°1<br>
    FORMULARIO HTML

  </h1></center>

    <center> 
        
        <!--Cuadro de texto1 HTML-->
        a:
        <input type="number" placeholder="Ingrese el primer numero" id="a">
        <br><br>

        <!--Cuadro de texto2 HTML-->
        b:
        <input type="number" placeholder="Ingrese el segundo numero" id="b" >
        <br><br>

        <!--Boton1 HTML-->
        <input type="button" name="name" value="SUMAR" onclick="sumar();">
        <br><br>

        <!--cuadro de texto3 HTML-->
        <input type="number"placeholder="RESULTADO" id="sum">

    </center>    
     </head> 
       
     <body>  
 
        <!--Llamado a archivo javascript.-->
          <script type="text/javascript" src="Laboratorio.js"></script>  

     </body>
   
</html> 